<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- ======================== -->
    <!-- MENU PRINCIPAL DES VENTES -->
    <!-- ======================== -->
    <menuitem
        id="menu_sm_sales_root"
        name="Ventes"
        parent="shakliyat.menu_landing_page"
        sequence="10" />

    <!-- =============================== -->
    <!-- SOUS-MENUS DES VENTES -->
    <!-- =============================== -->
    <menuitem
        id="menu_sm_sales_quotation"
        name="Proformas"
        parent="menu_sm_sales_root"
        action="action_sm_sales_quotation"
        sequence="8" />

    <menuitem
        id="menu_sm_sales_order"
        name="Commandes"
        parent="menu_sm_sales_root"
        action="action_sm_sales_order"
        sequence="10" />

    <menuitem
        id="menu_sm_sales_product"
        name="Produits"
        parent="menu_sm_sales_root"
        action="action_sm_sales_product"
        sequence="20" />

    <menuitem
        id="menu_sm_sales_customer"
        name="Clients"
        parent="menu_sm_sales_root"
        action="action_sm_sales_customer"
        sequence="30" />

    <!-- =============================== -->
    <!-- ÉLÉMENTS DE CONFIGURATION (sous sm_base) -->
    <!-- =============================== -->
    <menuitem
        id="menu_sm_sales_payment_mode"
        name="Modes de paiement"
        parent="sm_base.menu_sm_base_configurations"
        action="action_me_sales_payment_mode"
        sequence="10" />

    <menuitem
        id="menu_sm_sales_payment_method"
        name="Méthodes de paiement"
        parent="sm_base.menu_sm_base_configurations"
        action="action_me_sales_payment_method"
        sequence="20" />

    <menuitem
        id="menu_sm_sales_sale_condition"
        name="Conditions de vente"
        parent="sm_base.menu_sm_base_configurations"
        action="action_me_sales_sale_condition"
        sequence="30" />

    <menuitem
        id="menu_sm_sales_offer_validity"
        name="Durées de validité des offres"
        parent="sm_base.menu_sm_base_configurations"
        action="action_me_sales_offer_validity"
        sequence="40" />

    <menuitem
        id="menu_sm_sales_product_category"
        name="Catégories de produits"
        parent="sm_base.menu_sm_base_configurations"
        action="action_sm_sales_product_category"
        sequence="50" />

    <menuitem
        id="menu_sm_sales_pricelist"
        name="Liste de prix"
        parent="sm_base.menu_sm_base_configurations"
        sequence="60" />

    <menuitem
        id="menu_sm_sales_bank"
        name="Banques"
        parent="menu_sm_sales_pricelist"
        action="action_sm_sales_bank"
        sequence="10" />

    <menuitem
        id="menu_sm_sales_pricelist_action"
        name="Listes de prix"
        parent="menu_sm_sales_pricelist"
        action="action_sm_sales_pricelist"
        sequence="20" />

</odoo>
